daily-reminder-service.json
{
  "name": "Daily Reminder Service",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9db0aca6-bc78-4e81-b610-8bb5aa66b60e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1r5r1ON6eWvLrMpOEL9BuTkI-esu1Achh92j3W5tua5s",
          "mode": "list",
          "cachedResultName": " MyLibrary Bot Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5r1ON6eWvLrMpOEL9BuTkI-esu1Achh92j3W5tua5s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Issued_Books",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5r1ON6eWvLrMpOEL9BuTkI-esu1Achh92j3W5tua5s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        208,
        0
      ],
      "id": "e0d5d9d3-48d9-4827-924a-6da63715ac11",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5vm7BfGyzJJzPimW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const itemsToRemind = [];\n\n// Loop through all the books from the sheet\nfor (const item of $input.all()) {\n  \n  // Get the return status for the current book\n  const returnStatus = item.json['Return Status'];\n\n  // THE NEW RULE: If the return status is 'No' or the cell is empty, add it to the reminder list.\n  if (!returnStatus || returnStatus.toLowerCase() === 'no') {\n    itemsToRemind.push(item);\n  }\n}\n\n// Return the list of all non-returned books.\nreturn itemsToRemind;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "c496d36e-9bae-42e9-bfc6-1f1e975738c6",
      "name": "Code"
    },
    {
      "parameters": {
        "batchSize": 10000000000000000,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "f4c7df25-b01d-48e5-949b-cb0fc1f9d371",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $json[' Phone Number'] }}",
        "message": "=Hi {{ $json['Student Name'] }}, this is your daily library reminder. The book '{{ $json['Book Title'] }}' is due on {{ $json['Due Date'] }}. Happy reading! 📚",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        832,
        96
      ],
      "id": "9c548222-f36c-4d4a-847b-2076eed3b305",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "1fcMKiHErFhtyidH",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dfd06ba-7faf-4fbf-acd3-9352e6cf1a82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9de1ff33766b2489e524dfd41d5f872b730cfcdf190e96ca23f03d9f2a0173ba"
  },
  "id": "v7CRaoKxor9mqV8G",
  "tags": []
}