new-book-notification.json
{
  "name": "New Book Notification",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1r5r1ON6eWvLrMpOEL9BuTkI-esu1Achh92j3W5tua5s",
          "mode": "list",
          "cachedResultName": " MyLibrary Bot Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5r1ON6eWvLrMpOEL9BuTkI-esu1Achh92j3W5tua5s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Issued_Books",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r5r1ON6eWvLrMpOEL9BuTkI-esu1Achh92j3W5tua5s/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "decd25cc-061d-423a-96ad-50b7a067e742",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1SrxrOF3xLcBAZWg",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        96
      ],
      "id": "9c224d09-2529-4143-8f0d-cf0b35a0fd53",
      "name": "Wait",
      "webhookId": "f7e9138e-c1c8-4667-9b45-c9d8a31ad140"
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $json[' Phone Number'] }}",
        "message": "=Dear {{ $json['Student Name'] }},\nYou have been issued the book '{{ $json['Book Title'] }}''. Kindly ensure it is returned by {{ $json['Due Date'] }} .\nWishing you an enjoyable reading experience. 📚",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        144
      ],
      "id": "a3412bb8-e6fd-40c0-9b4e-4cacf9071fbf",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "mOOPkQpxX1oXdlqM",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ce446e1a-a7c6-4556-aec3-93d9ec68ee1d",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f806c62-5db4-4077-a737-6062e1b2ad2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3ba13f7ad057b0558981f9de71d141388bc8549cac0a3e1f94714532618b9d2"
  },
  "id": "rNaE1np6LdwYm0M7",
  "tags": []
}
